.comment-input-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  .user {
    width: 100%;
    .user-input {
      display: flex;
      justify-content: space-between;
      .name,
      .email {
        margin-right: 1.5rem;
      }
      .name,
      .email,
      .site {
        display: flex;
        flex: 1;
        label {
          width: 3.75rem;
        }
        input {
          flex: 1;
        }
      }
    }
  }
  .content-box {
    width: 100%;
    .user-form {
      display: flex;
      align-items: flex-start;
      .user-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 1.5rem;
        width: 6.25rem;
        img {
          width: 2.5rem;
          border-radius: 50%;
        }
        button {
          margin-top: 1rem;
          padding: 0.5rem 1rem;
          cursor: pointer;
          background-color: #14213d;
          color: lightgray;
          border: none;
          border-radius: 4px;
          &:focus {
            background-color: #1d253b;
          }
        }
      }
      .input-area {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .markdown-editor {
          width: 100%; /*自动适应父布局宽度*/
          border: 1px solid #696969;
          border-radius: 4px;
          min-height: 3rem;
          margin-bottom: 1rem;
          padding: 0.25rem 0.5rem;
          font-size: 0.875rem;
          &:empty {
            &::before {
              content: '请说点什么吧（必填）';
              font-size: 0.875rem;
              color: #696969;
              line-height: 1.3rem;
              padding-top: 0.625rem;
            }
          }
        }
        .options-box {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .options-tool {
            display: flex;
            flex: 1;
            .enjoin,
            .img,
            .link,
            .code {
              cursor: pointer;
              margin-right: 2rem;
              i {
                margin-right: 0.25rem;
              }
              .icon {
                display: inline-block;
                vertical-align: middle;
                margin-right: 0.5rem;
              }
            }
            .enjoin {
              position: relative;
              .enjoin-box {
                position: absolute;
                ul {
                  display: grid;
                  overflow: hidden;
                  user-select: none;
                  grid-template-columns: repeat(8, 12.5%);
                  background: rgba(#3c4244, 0.5);
                  border-radius: 4px;
                  padding: 0.25rem;
                  li {
                    margin: 2px;
                    font-size: 1.125rem;
                  }
                }
              }
            }
          }
          .options-enter {
            width: 6.25rem;
            button {
              padding: 0.5rem 1.5rem;
              cursor: pointer;
              background-color: #14213d;
              color: lightgray;
              border: none;
              border-radius: 4px;
              &:focus {
                background-color: #1d253b;
              }
            }
          }
        }
      }
    }
  }
  input,
  textarea {
    padding: 0.5rem 0;
    padding-left: 0.625rem;
    color: #fff;
    border: 1px solid #696969;
    background: transparent;
    outline: none;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    &:focus {
      border: 1px solid #fff;
    }
  }
  label {
    width: 4rem;
    color: #fff;
    &::before {
      content: '';
      margin-right: 0.625rem;
    }
  }
  label.require {
    position: relative;
    &::before {
      content: '*';
      color: #e71d36;
      margin-right: 0.25rem;
    }
  }
  .form-item {
    display: flex;
  }
  input,
  textarea {
    width: calc(100% - 0.625rem);
  }
}
