@import '../../../styles/mixin';
@import '../../../styles/variables';
.header {
  @include flexBox(space-between, center);
  padding: 0 $size-width3;
  .header-right {
    .search-box {
      display: flex;
      justify-content: center;
      width: 100%;
      cursor: pointer;
      transform: translateZ(0);
    }
    input {
      background: none;
      outline: none;
      border: none;
      color: #ebebeb;
      border-bottom: solid 1px #ebebeb;
      padding: 0 0 0.25rem 0.5rem;
      margin-left: $size-width1;
      transition: opacity 300ms ease 0s,
        width 300ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
      opacity: 0;
      width: 0;
      border-radius: 0;
    }
  }
}


// 移动
@media (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0 2rem;
    .header-left {
      width: 100%;
    }
    .header-right {
      width: 100%;
      padding:1rem 0 .5rem 0;
      .search-box {
        width: 100%;
        position: relative;
        .icon {
          position: absolute;
          display: inline-block;
          vertical-align: middle;
          left: 2rem;
          top: 50%;
          transform: translateY(-45%);
        }
        input {
          opacity: 1;
          box-sizing: border-box;
          padding: .5rem 0;
          padding-left: 4rem;
          width: 100%;
          border-radius: 5rem;
          color: #fff;
          border: 1px solid #696969;
          background: transparent;
          outline: none;
        }
      }
    }
  }
}