@import '../../../styles/mixin.scss';
@import '../../../styles/variables';
.comment-list {
  margin-top: 4rem;
  .comment-list-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2rem;
    .user-img {
      display: inline-block;
      margin-right: 2rem;
      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }
    }
    .comment-input {
      width: 100%;
    }
    .comment-info {
      flex: 1;
      .user-info {
        font-size: 0.875rem;
      }
      .comment-content {
        font-size: 1em;
        line-height: 2em;
        margin: 0.8em 0;
        word-wrap: break-word;

        a {
          text-decoration: underline;
        }

        img {
          margin: 0.5rem 0;
          max-width: 100%;
          border-radius: 2px;
        }

        p {
          margin: 0;
        }

        code {
          color: #bd4147;
          padding: 0.3em 0.5em;
          margin: 0 0.5em;
          border-radius: $radius;
          background-color: $module-hover-bg;
        }

        pre {
          overflow: auto;
          font-size: 85%;
          line-height: 1.45;
          background-color: $code-bg;
          border-radius: 3px;
          width: 100%;

          > code {
            margin: 0;
            padding: 1em;
            float: left;
            width: 100%;
            height: 100%;
            display: block;
            line-height: 1.6em;
            background-color: transparent;
          }
        }
      }
      .options-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 0.875rem;
        .time {
          flex: 7;
        }
        .like {
          cursor: pointer;
          flex: 1;
          .icon {
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.5rem;
          }
        }
        .replay {
          cursor: pointer;
          flex: 2;
          .icon {
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
  .children-list-item {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    transform: translateX(12%);
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px rgb(170, 169, 169) solid;
    .children-user-img {
      display: inline-block;
      margin-right: 2rem;
      img {
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 50%;
      }
    }
    .comment-input {
      width: 100%;
    }
    .children-info {
      flex: 1;
      .children-user-info {
        font-size: 0.875rem;
      }
      .children-content {
        font-size: 1em;
        line-height: 2em;
        margin: 0.8em 0;
        word-wrap: break-word;

        a {
          text-decoration: underline;
        }

        img {
          margin: 0.5rem 0;
          max-width: 100%;
          border-radius: 2px;
        }

        p {
          margin: 0;
        }

        code {
          color: #bd4147;
          padding: 0.3em 0.5em;
          margin: 0 0.5em;
          border-radius: $radius;
          background-color: $module-hover-bg;
        }

        pre {
          overflow: auto;
          font-size: 85%;
          line-height: 1.45;
          background-color: $code-bg;
          border-radius: 3px;
          width: 100%;

          > code {
            margin: 0;
            padding: 1em;
            float: left;
            width: 100%;
            height: 100%;
            display: block;
            line-height: 1.6em;
            background-color: transparent;
          }
        }
      }
      .children-options-info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 0.875rem;
        .children-time {
          flex: 7;
        }
        .children-like {
          cursor: pointer;
          flex: 1;
          .icon {
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.5rem;
          }
        }
        .children-replay {
          cursor: pointer;
          flex: 2;
          .icon {
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}

// 移动
@media (max-width: 700px) {
  .comment-list {
    .comment-list-item {
      .options-info {
        .time {
          flex: 5 !important;
        }
        .like {
          flex: 2 !important;
        }
        .replay {
          flex: 3 !important;
        }
      }
    }
    .children-list-item {
      .children-info {
        .children-options-info {
          .children-time {
            flex: 5 !important;
          }
          .children-like {
            flex: 2 !important;
          }
          .children-replay {
            flex: 3 !important;
          }
        }
      }
    }
  }
}
