@import '../../../styles/variables';
.year-list {
  .mouth-list {
    margin-left: $size-width4;
    .article-list {
      margin: $size-width2 $size-width4;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &::before {
        content: '';
        background: #ebebeb;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: $size-width2;
      }
      .date,
      .tag {
        margin-right: $size-width2;
      }
    }
  }
  // 移动
  @media (max-width: 500px) {
    .mouth-list {
      margin-left: $size-width1;
      .article-list {
        margin: $size-width1 $size-width2;
        &::before {
          width: 5px;
          height: 5px;
          border-radius: 100%;
          margin-right: $size-width1;
        }
        .date,
        .tag {
          margin-right: $size-width1;
        }
      }
    }
  }
}
