.diary-item {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  background: #191c1f;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
  position: relative;
  z-index: 2;
  .info-bar {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    .time {
      font-size: 0.75rem;
      color: #acacac;
    }
  }
  .diary-content {
    box-sizing: border-box;
    padding-left: 1rem;
  }
  .like-btn {
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0 0 0;
    cursor: pointer;
    font-size: 0.875rem;
    .icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5rem;
    }
  }
}
.hasnomore{
  text-align: center;
  font-size: 14px;
  color: rgb(196, 192, 192);
}
// 移动
@media (max-width: 700px) {
  .diary-item {
    width: 100%;
  }
}