.diary-item {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  background: #191c1f;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
  .info-bar {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    .time {
      font-size: 12px;
      color: #acacac;
    }
  }
  .diary-content {
    box-sizing: border-box;
    padding-left: 1rem;
  }
  .like-btn {
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0 0 0;
    cursor: pointer;
    font-size: 14px;
    .icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5rem;
    }
  }
}
