// 边距尺寸
$size-width1: .5rem;
$size-width2: 1rem;
$size-width3: 1.5rem;
$size-width4: 2rem;
$size-width5: 2.5rem;
$size-width6: 3rem;
$size-width7: 3.5rem;

// 常用颜色
$white: #ebebeb;
$black: black;
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #fadb14 !default;
$green: #52c41a !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;


// container
$container-left: 50rem;
$container-min-width: $container-left;
$container-width: $container-min-width;
$container-right: 16rem;


$gravatar: 36px;
$header-height: 4rem;

$module-bg: rgba(#282c35,0.6);
$module-hover-bg: rgba(#d3d3d3,.12);
$module-hover-bg-light-3: hsla(0,0%,100%,0.12);
$module-hover-bg-light-6: hsla(0,0%,100%,0.12);

// color
// $white: var(--theme-white);
// $black: var(--theme-black);
// $green: var(--theme-green);
// $blue: var(--theme-primary);
// $red: var(--theme-red);

$red-light-1: var(--theme-red-light-1);


$border-color: var(--border-color);
$form-hover: #8391a5;
$code-bg: #191c1f;

//text
$text: silver;
$dividers: #fff;
$disabled: #fff;
// $secondary: var(--text-dark-1);
$descript: #dadada;

// radius
$radius: 4px;

// padding
$br: 4px;
$xs-pad: .3rem;
$sm-pad: .5rem;
$normal-pad: 1rem;
$md-pad: 1.2rem;
$lg-pad: 1.5rem;
$mlg-pad: 2rem;
$xlg-pad: 3rem;

// font-sisze
$font-size-base: 14px;
$font-size-title: 2rem;
$font-size-large: 1.6rem;
$font-size-small: .85rem;