@import './_mixin.scss';
@import './variables';
html,
body {
  font-size: 15px;
  margin: 0;
  padding: 0;
  background: rgb(40, 44, 50);
  color: #ebebeb;
  @include scrollBar($width: 5px);
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: transform 0.5s;
  background: rgb(40, 44, 50);
}
.container {
  display: block;
  width: 50rem;
  margin: 0 auto;
  margin-top: $size-width1 * 12;
  min-height: calc(100vh - 148px);
  transform: translateZ(0);
}

a {
  text-decoration: none;
  color: #ebebeb;
}

ul {
  padding: 0;
  list-style: none;
}

// 平板端
@media (max-width: 800px) {
  html,
  body {
    font-size: 12px;
  }
}

// 移动
@media (max-width: 500px) {
  .container {
    margin-top: $size-width1 * 8;
    width: 25rem;
  }
}

input,textarea{
  padding: 8px 0;
  padding-left: 10px;
  color: #FFF;
  border: 1px solid #696969;
  background: transparent;
  outline: none;
  border-radius: 4px;
  margin-bottom: 16px;
  &:focus{
    border: 1px solid #FFF; 
  }
}
label{
  width: 64px;
  color: #FFF;
  &::before{
    content: '';
    margin-right: 12px;
  }
}
label.require{
  position: relative;
  &::before{
    content: '*';
    color: #E71D36;
    margin-right: 4px;
  }
}

// 友链表单
.friend-form{
  .form-item{
    display: flex;
  }
  input,textarea{
    width: calc(100% - 10px);
  }
}