@import './_mixin.scss';
@import './variables';
html,
body {
  font-size: 15px;
  margin: 0;
  padding: 0;
  background: rgb(40, 44, 50);
  color: #ebebeb;
  @include scrollBar($width: 5px);
  position: relative;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  transition: transform 0.5s;
  background: rgb(40, 44, 50);
}
.container {
  display: block;
  width: 50rem;
  margin: 0 auto;
  margin-top: $size-width1 * 12;
  min-height: calc(100vh - 9.25rem);
}
a {
  text-decoration: none;
  color: #ebebeb;
}

ul {
  padding: 0;
  list-style: none;
}

// 平板端
@media (max-width: 800px) {
  html,
  body {
    font-size: 12px;
  }
}

// 移动
@media (max-width: 700px) {
  .container {
    margin-top: 10rem;
    width: 25rem;
  }
}



// 弹框表单
.friend-form,.hero-form{
  input,textarea{
    padding: .5rem 0;
    padding-left: .625rem;
    color: #FFF;
    border: 1px solid #696969;
    background: transparent;
    outline: none;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    &:focus{
      border: 1px solid #FFF; 
    }
  }
  label{
    width: 4rem;
    color: #FFF;
    &::before{
      content: '';
      margin-right: 0.625rem;
    }
  }
  label.require{
    position: relative;
    &::before{
      content: '*';
      color: #E71D36;
      margin-right: 0.25rem;
    }
  }
  .form-item{
    display: flex;
  }
  input,textarea{
    width: calc(100% - 0.625rem);
  }
}