.line-box{
    display: flex;
    align-items: center;
    height: 32px;
    padding: 8px 0;
    position: relative;
    .line-title{
        line-height: 32px;
        font-size: 18px;
        padding-right: 24px;
        .icon{
            margin-right: 16px;
        }
    }
}